# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\MSalaani\Documents\SUP20\2eme\Sem2\P2\TS\TS_Project_INDP2F_2021\demo\rest-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
